body {
    display: flex;
    justify-content: center;
    background-color: azure;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    background-color: rgb(57, 57, 184);
    width: 250px;
}

#display {
    width: 210px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: end;
}

button {
    border-color:white;
    padding: 20px;
    margin: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, #display {
    background-color: lightgray;
}

#clear {
    width: 100px;
}